@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    background-color: #f2f2f2;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.page-header {
    background: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    align-items: center;
    padding-right: 70px;
}

.navigation-logo {
   display: block;
   height: 70px;
   position: absolute;
   left: 70px;
   top: 0;
   z-index: 1;
}

.navigation-list {
    margin: 0;
    padding-left: 239px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.navigation-user {
    min-width: 100px;
    width: auto;
    margin-right: 0;
    margin-left: auto;
    padding-left: 0;
    padding-right: 20px;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.navigation-link {
    position: relative;
    padding: 20px 17px 19px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

.navigation-link-current::after {
    content: "";
    position: absolute;
    width: calc(100% - 34px);
    border-bottom: 2px solid #756257;
    left: 0;
    top: 0;
    bottom: -1px;
    margin: 0 17px;
    z-index: 2;
}

.navigation-link-current-catalog::before {
    content: "";
    position: absolute;
    width: calc(100% - 34px);
    border-bottom: 2px solid #756257;
    left: 0;
    top: 0;
    bottom: -1px;
    margin: 0 17px;
    z-index: 2;
}

.navigation-item-link {
    margin-left: 20px;

}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.navigation-user .navigation-link {
    min-height: 19px;
    min-width: 19px;
    padding: 23px 12px;
}

.number {
    box-sizing: border-box;
    position: absolute;
    left: 24px;
    top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 2px 5px 4px 5px;
    z-index: 1;
}

.navigation-hotels {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 130px;

    margin: 0;
    padding: 9px 15px 8px;
    border-radius: 4px;
}

.navigation-hotels:hover {
    background-color: #615048;
}

.navigation-hotels:focus {
    background-color: #615048;
    outline: none;
}

.navigation-hotels:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}
.navigation-link:hover {
    color: #68A2CA;
}

.navigation-link:focus {
    color: #68A2CA;
}

.navigation-link:active {
    color: rgba(104, 162, 202, 0.3);
}

.main-container {
    flex-grow: 1;
}

.main-hero {
    color: #000000;
    background-color: #3F5E72;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-hero::after {
    width: 1200px;
    height: 57px;
    background-image: url("../images/divider.svg");
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
}

.advantages-background {
    width: 620px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding: 63px 290px 31px;
}

.advantages-divider {
    width: 656px;
    margin: 0;
    padding: 0 273px 90px 273px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 0;
    margin: 0;
    min-height: 56px;
}

.advantages-block {
    display: flex;
    padding-right: 0;
}

.advantages-sub-paragraph {
    display: flex;
    padding: 0;
    list-style-type: none;
    position: relative;
    min-height: 384px;
}

.advantages-city {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-title-city {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 200px;
    margin: 92px 85px;
}

.advantages-title-end {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 179px;
    margin: 103px 85px 102px;
    flex-wrap: wrap;
}

.advantages-number {
    font-weight: 400;
    margin: 0;
    padding-top: 0;
    padding-bottom: 30px;
}

.advantages-sub-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
} 

.main-advantages {
    order: -1;
    margin: 0 77.5px;
    padding-bottom: 30px;
}

.advantages-couple {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 30px;
    margin: 0;
}

.advantages-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.advantages-landscapes {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 0;
}

.advantages-hotels {
    width: 230px;
    padding: 153px 85px 81px;
    background-color:  rgba(131, 179, 211, 0.12);
}

.advantages-hotels::before{
    width: 75px;
    height: 72px;
    position: absolute;
    background-image: url("../images/advantages/housing.svg");
    content: "";
    top: 81px;
    left: 160px;
}

.advantages-food {
    width: 230px;
    padding: 153px 85px 81px;
    background-color: #ffffff;
}

.advantages-food::before{
    width: 74px;
    height: 71px;
    position: absolute;
    background-image: url("../images/advantages/food.svg");
    content: "";
    top: 81px;
    left: 560px;
}

.advantages-souvenirs {
    width: 230px;
    padding: 153px 85px 81px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-souvenirs::before{
    width: 70px;
    height: 76px;
    position: absolute;
    background-image: url("../images/advantages/souvenir.svg");
    content: "";
    top: 77px;
    left: 960px;
}

.advantages-number {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.advantages-square {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-tourists {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}

.search {
    text-align: center;
}

.search-heading {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 91px 450px 29px 452px;
}

.hotels-description {
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0 304px 56px;
}

.search-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 544px;
    min-height: 36px;
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
    border-radius: 4px;
    margin: 0 313px 93px; 
}

.search-link:hover {
    background-color: #615048;
}

.search-link:focus {
    background-color: #615048;
    outline: none;
}

.search-link:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.subscription {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #3F5E72;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.email {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    padding: 20px 491px 19px 22px;
    margin: 0;
    border: 0;
    min-width: 87px;
    min-height: 21px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}

.subscription-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    margin-bottom: 94px;
    margin-right: 200px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.subscription-titel {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 96px 398px 29px;
}

.subscription-info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0 362px 46px;
}

.subscription-form {
    display: flex;
    justify-content: center;
}

.email {
    margin: 0;
    padding: 20px 491px 19px 22px;
    border: 0;
    margin-bottom: 94px;
    margin-left: 200px;
    background-color: #f2f2f2;
}

.page-footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 70px 30px 70px;
    min-height: 50px;
}

.contacts-phone {
    display: block;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    width: 331px;
}

.footer-contact-address {
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.footer-contacts-logo {
    width: 115px;
    height: 34px;
    padding-top: 8px;
}

.contacts-phone:hover{
    color: #756157; 
}

.contacts-phone:focus{
    color: #756157;   
}

.contacts-phone:active{
    color: rgba(117, 97, 87, 0.3);

}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 142px;
    min-height: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 5px;
}

.footer-social-item {
    width: 47px;
    padding-top: 13px;
}

.footer-social-link:hover path {
    fill: #68A2CA;
}

.footer-social-link:focus path {
    fill: #68A2CA;
}

.footer-social-link:active path {
    fill: rgba(104, 162, 202, 0.3);
}
.footer-contacts-logo:hover path {
    fill: #756157;
}

.footer-contacts-logo:focus path {
    fill: #756157;
}

.footer-contacts-logo:active path {
    fill: rgba(117, 97, 87, 0.3);
}

.hotel-filter {
    background-image: url("../images/filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #3F5E72;
}

.inner-header {
    display: flex;
    flex-direction: column;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
    font-weight: 700;
    width: 494px;
    height: 78px;
    margin: 0;
    padding: 35px 635px 10px 70px;
}
.breadcrumbs {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: 110px;
    padding-left: 72px;
}

.breadcrumbs-item {
    display: flex;
    min-width: 12px;
    min-height: 12px;
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 25px;
}

.breadcrumbs-link {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.breadcrumbs-icon {
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    margin: auto;
    fill: #FFFFFF;
}

.breadcrumbs-icon-main {
    display: block;
    padding-top: 4px;
    margin: auto;
    fill: #FFFFFF;
}

.breadcrumbs-icon-main:hover {
    fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon-main:focus {
    fill: #FFFFFF;
}

.breadcrumbs-icon-main:active {
    fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-text:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-text:focus {
    color: #FFFFFF;
}

.breadcrumbs-text:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
    display: flex;
    width: 1059px;
    min-height: 149px;
    padding: 40px 70px 56px 70px;
    margin: 0;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding-left: 0;
}

.catalog-filter-item{
    margin-bottom: 15px;
}

.catalog-filter-infrastructure {
    min-width: 150px;
    min-height: 149px;
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-housing {
    width: 145px;
    min-height: 149px;
    border: none;
    margin: 0 175px 0 70px;
    padding: 0;
}

.range {
    display: flex;
}

.catalog-filter-group {
    border: 0;
    margin: 0;
    padding: 0;
}

.catalog-filter-title-range {
    padding: 0;
    margin-bottom: 32px;
    min-width: 116px;
    min-height: 26px;
    font-size: 20px;
    padding-top: 2px;
}

.range-wrapper-inputs {
    display: flex;
    position: relative;
    font-weight: 400;
}

.catalog-filter-price {
    font-size: 18px;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    left: 110px;
}

.range-input {
    width: 144px;
    margin: 0;
    color: #FFFFFF;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 14px 12px 14px;
    border-radius: 4px 0 0 4px;
    font-weight: 400;
}

.range-input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input:focus:not(:active) {
    box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
    outline: none;
}

.range-input:active {
    background: #756257;
    border: 2px solid #FFFFFF;
    outline: none;
}

.range-input:disabled {
    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.range-input-max:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-max:focus:not(:active) {
    box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
    outline: none;
}

.range-input-max:active {
    background: #756257;
    border: 2px solid #FFFFFF;
    outline: none;
}

.range-input-max:disabled {
    opacity: 0.3;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.range-input-max {
    width: 144px;
    margin: 0;
    color: #FFFFFF;
    font: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 14px 12px 14px;
    border-radius: 0 4px 4px 0;
    font-weight: 400;
}

.range-scale {
    position: relative;
    margin-top: 28px;
}

.range-opacity {
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
    height: 4px;
    width: 287px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
    width: 227px;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:hover {
    background-color: #FFFFFF;
}

.range-toggle:focus {
    border: 3px solid #83B3D3;
}

.range-toggle:active {
    border: 2px solid #83B3D3;
}

.toggle-min {
    top: -8px;
    left: 0px;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.calculation-button {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin-top: 60px;
    margin-left: 70px;
}

.sorting-container {
    display: flex;
    width: 1057px;
    min-height: 49px;
    padding: 55px 71px 56px 73px;
}

.sorting-container .button {
    width: 48px;
    height: 48px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
}

.control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    position: relative;
    display: block;
    padding-left: 39px;
    cursor: pointer;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-check-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-input:checked+.control-check-mark {
    background-image: url("../images/mark.svg");
    background-repeat: no-repeat;
    color: #3F5E72;
    background-position: center;
}

.control:hover .control-check-mark {
    background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-check-mark {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.control:active .control-check-mark {
    background-color: rgba(255, 255, 255, 0.3);
}
.control-input:disabled+.control-check-mark {
    background-color: rgba(255, 255, 255, 0.1);
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control:hover .control-mark {
    background-color: #ffffff;
}

.control:focus-within .control-mark {
    background-color: #ffffff;
    outline: 3px solid #83B3D3;
}

.control:active .control-mark {
    background-color: #ffffff;
}

.control-input:disabled+.control-mark {
    background-color: rgba(255, 255, 255, 0.1);
}

.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 338px;
    min-height: 37px;
    margin-top: 7px;
    margin-bottom: 4px;
}

.button-click {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    padding: 14px 15px;
    margin: 0;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    width: 160px;
    cursor: pointer;
}

.control-input-reset {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 3px 13px;
    margin-left: 35px;
    cursor: pointer;
}

.control-input-reset:hover {
    opacity: 0.6;
}

.control-input-reset:focus {
    outline: 3px solid #83B3D3;
    color: #FFFFFF;
    border-radius: 4px;
}

.control-input-reset:active {
    opacity: 0.3;
    outline: none;
}

.select-control-hotel {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 78px;
    margin-left: 191px;
    width: 290px;
    min-height: 49px;
    border-radius: 4px;
    appearance: none;
    border: 2px solid #E5E5E5;
    padding: 12px 20px 12px 20px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    cursor: pointer;
}

.select-control-hotel:hover,
.select-control-hotel:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control-hotel:active {
    border: 2px solid #3F5E72;
}

.select-control-hotel:disabled {
    opacity: 0.3;
}

.button-view {
    width: 48px;
    height: 48px;
    position: relative;
    box-sizing: border-box;
}

.button-view-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.button-view-current {
    border: 2px solid #000000;
    border-radius: 4px;
    margin-right: 8px;
}

.button-view-uncurrent {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.button-view-uncurrent:not(:last-child) {
    margin-right: 8px;
}

.button-view:hover {
    border: 2px solid #000000;
}

.button-view:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.button-view:active {
    border: 2px solid #000000;
}

.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 67px;
    margin-top: 0;
    padding: 0;
}

.hotels-card {
    display: flex;
    flex-direction: column;
    padding: 19px;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 16px;
    margin: 0;
}

.hotels-card-link {
    text-decoration: none;
}

.hotels-card-price {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    height: 21px;
    color: #333333;
}

.hotels-card-name {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    height: 21px;
    color: #333333;
}

.hotels-price {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 15px 24px;
}

.hotels-card-image {
    object-fit: contain;
}

.hotels-detailed {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotels-favourites {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.star-four {
    background-image: url("../images/stars/star-four.svg");
}
.star-three {
    background-image: url("../images/stars/star-three.svg");
}
.star-two {
    background-image: url("../images/stars/star-two.svg");
}

.hotels-added {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotels-detailed:hover {
    background-color: #615048;
}

.hotels-detailed:focus {
    background-color: #615048;
    outline: none;
}

.hotels-detailed:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.select-button:hover {
    background-color: #68A2CA;
}

.select-button:focus {
    background-color: #68A2CA;
    outline: none;
}

.select-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.hotels-added:hover {
    background-color: #6C9E42;
}

.hotels-added:focus {
    background-color: #6C9E42;
    outline: none;
}

.hotels-added:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
    cursor: default;
}

.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.hotels-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.pagination-container {
    display: flex;
    width: 1056px;
    min-height: 60px;
    border-top: 1px solid #e6e6e6;
    padding-top: 30px;
    padding-bottom: 25px;
    margin: auto;
}

.pagination-container p {
    font-weight: 400;
    margin: 20px 51px 17px 270px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: center;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    padding-top: 11px;
}

.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #f2f2f2;
    color: #000000;
    text-transform: uppercase;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #ffffff;
    width: 160px;
    height: 49px;
    appearance: none;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 13px 32px 13px 20px;
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    margin-top: 5px;
    cursor: pointer;
}

.select-control:hover,
.select-control:focus {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control:active {
    border: 2px solid #3F5E72;
}

.select-control:disabled {
    opacity: 0.3;
}

.subscription-catalog {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subscription-catalog-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 12px 15px;
    min-width: 200px;
    border: none;
    margin-bottom: 94px;
    margin-right: 200px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    z-index: 3;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 62px 70px 70px 68px;

}

.modal-hotel-search {
    width: 577px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    margin-top: 54px;
    margin-right: 70px;
    background-color: #F2F2F2;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    border: none;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    background-color: #E6E6E6;
    opacity: 0.3;
    outline: none;
}

.modal-search-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin: 0;
    margin-bottom: 63px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.modal-field-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.modal-date-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    grid-column: 2/3;
    margin-top: 10px;
    color: #333333;
}

.modal-date-text-false {
    color: #FF5757;
}

.modal-field-date {
    position: relative;
    display: grid;
    grid-template-columns: auto 420px;
    column-gap: 36px;
    align-items: center;
    margin-bottom: 10px;
}

.modal-date-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    margin-right: 17px;
    margin-top: 18px;
    padding: 0;
    background-image: url("../images/modal/date.svg");
    border: none;
    cursor: pointer;
}

.modal-date-button:focus {
    outline: 2px solid #83B3D3;
    border-radius: 2px;
}

.modal-field-group-number {
    display: flex;
    width: 575px;
    justify-content: space-between;
}

.modal-field-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field-number-children {
    width: 229px;
}

.field-number-people {
    width: 288px;
}

.modal-number-container {
    position: relative;
    margin-left: 43px;
}

.modal-number-button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 13px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
}

.minus {
    left: 14px;
}

.plus {
    right: 14px;
}

.minus::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.plus::before,
.plus::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
}

.plus::after {
    transform: rotate(90deg);
    right: 6px;
}

.modal-number-button:hover::before,
.modal-number-button:hover::after {
    background-color: #000000;
}

.modal-number-button:focus::before,
.modal-number-button:focus::after {
    background-color: #000000;
}

.modal-number-button:focus {
    outline: 3px solid #83B3D3;
}

.modal-number-button:active::before,
.modal-number-button:active::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-number-button:active {
    outline: none;
}

.modal-input-date {
    width: 420px;
    border-radius: 4px;
    padding: 15px 32px 14px 19px;
    box-sizing: border-box;
    border: none;
    background-color: #F2F2F2;
    font-size: 18px;
    line-height: 21px;
    font-family: "PT Sans", sans-serif;
    border: none;
}

.modal-input-date:hover {
    background-color: #E6E6E6;
}

.modal-input-date:focus {
    outline: 3px solid #83B3D3;
}

.modal-input-date:active {
    background-color: #FFFFFF;
    outline: 2px solid #000000;
}

.modal-input-date::placeholder{
    color: #000000;
}

.modal-input-number {
    font-family: "PT Sans", sans-serif;
    width: 133px;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: textfield;
    padding: 15px 50px 14px 50px;
    text-align: center;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
    line-height: 21px;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.modal-search-link {
    text-decoration: none;
    margin-top: 40px;
    padding: 12px 26px;
    font-size: 20px;
    line-height: 36px;
    border-radius: 10px;
    background-color: #83B3D3;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.modal-search-form .button-second:hover {
    background-color: #68A2CA;
}

.modal-search-form .button-second:focus {
    outline: 3px solid #756257;
}

.modal-search-form .button-second:active {
    background-color: #68A2CA;
}

.tooltip {
    position: absolute;
    z-index: 4;
    width: 25px;
    height: 25px;
    margin-left: 4px;
    margin-top: 2px;
}

.tooltip-toggle {
    border: none;
    width: 25px;
    height: 25px;
    background-image: url("images/modal/info.svg");
    background-repeat: no-repeat;
    background-color: #83B3D3;
    background-position: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
}

.tooltip-toggle:hover {
    background-color: #68A2CA;
}

.tooltip-toggle:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.tooltip-text {
    box-sizing: border-box;
    width: 256px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    padding: 15px 18px 18px 22px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: -115px;
    display: none;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.tooltip-text:after {
    content: '';
    background-image: url("images/modal/arrow-tooltip.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-form-label-icon {
    position: relative;
    padding-right: 25px;
}