@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.page-container {
    width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header {
    background: #ffffff;
    color: #000000;
}
.navigation {
    display: flex;
    justify-content: center;
    height: 65px;
    margin-left: 70px;
    margin-right: 70px;
}
.navigation-logo {
   display: block;
   height: 70px;
   position: relative;
}
.navigation-list {
    width: 390px;
    margin: 0 0 0 30px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.navigation-user {
    width: 263px;
    margin-left: 237px;
    align-items: center;
}

.navigation-link {
    padding: 20px 17px;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}


.navigation-icon {
    display: block;
    width: 19px;
    height: 19px;
    padding: 24px 12px;
    align-items: center;
    
}
.navigation-icon-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 84px;
    height: 66px;
}

.navigation-user .navigation-link {
    min-height: 18px;
    min-width: 18px;
}
.number {
    font-family: "PT Sans";
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.navigation-hotels {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 130px;
    height: 20px;
    margin: 0;
    padding: 9px 15px 8px;
    min-width: 160px;
    border-radius: 4px;
}

.main-container {
    flex-grow: 1;
}
.main-hero {
    color: #000000;
    background-color: #ffffff;
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
}
.advantages-background {
    width: 630px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 63px;
    padding-bottom: 31px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}
.advantages-sub-paragraph {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}
.advantages-city {
    background-color: #82B3D3;
    color: #ffffff;
}
.advantages-title-city {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 200px;
    margin: 92px 85px;
}
.advantages-title-end {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 179px;
    margin: 103px 85px 102px;
    flex-wrap: wrap;
}
.advantages-number {
    margin: 0;
    padding-top: 0;
    padding-bottom: 30px;
}
.advantages-sub-city {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 200px;
    margin: 92px 85px;
}
.main-advantages {
    order: -1;
    margin: 0 77.5px;
    padding-bottom: 30px;
}
.advantages-divider {
    width: 664px;
    margin: 0 auto;
    padding: 31px 273px 90px 263px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    padding-bottom: 90px;
}
.advantages-couple {
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 30px;
    margin: 0;
}
.advantages-content {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.advantages-block {
    display: flex;
    padding-right: 0;
}

.advantages-landscapes {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 0;
}
.advantages-hotels {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color:  rgba(131, 179, 211, 0.12);
}
.advantages-food {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: #ffffff;
}
.advantages-souvenirs {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 30px;
    padding-top: 0;
    margin: 0;
    min-height: 56px;
}
.advantages-number {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.advantages-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.advantages-square {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-road {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-tourists {
    width: 400px;
    min-height: 384px;
    padding: 0;
    background-color: rgba(131, 179, 211, 0.12);
}
.search {
    text-align: center;
}
.search-heading {
    font-style: bold;
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 91px 450px 29px 452px;
}
.hotels-description {
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0 304px 56px;
}
.search-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 574px;
    height: 60px;
    font-family: "PT Sans";
}
.search-hotels-button {
    display: flex;
    flex-direction: column;
    margin: 56px 313px 93px;
}
.subscription {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.email {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
}
.subscription-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-family: "PT Sans";
    margin: 0;
    padding: 12px 15px;
    min-width: 170px;
    border: none;
    margin-bottom: 94px;
    margin-right: 200px;
}

.subscription-titel {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 94px 398px 29px;
}
.subscription-info {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0 362px 46px;
}
.subscription-form {
    display: flex;
    justify-content: center;
}
.email {
    margin: 0;
    padding: 20px 491px 19px 22px;
    border: 0;
    margin-bottom: 94px;
    margin-left: 200px;
    background-color: #f2f2f2;
}
.page-footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 40px 70px 30px 70px;
}

.contacts-phone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}
.footer-contact-address {
    padding: 0;
    margin: 0;
    width: 720px;
    height: 50px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-social-item {
    width: 47px;
    height: 40px;
    margin-right: 0;
}
.footer-social-vk {
    padding: 13px 11.67px;
}
.footer-social-telegram {
    padding: 12px 14.67px;
}
.footer-social-youtube {
    padding: 11.5px 12.67px;
}
.footer-social-item:nth-child(3n) {
    margin-right: 0;
}
.footer-contacts-logo {
    padding: 8px 0;
}
.hotel-filter {
    background-image: url(../images/filter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    background-color: #000000;
}
.inner-header {
    display: flex;
    flex-direction: column;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    text-transform: capitalize;
    font-weight: 700;
    width: 494.4px;
    height: 78px;
    margin: 0;
    padding: 35px 565.13px 10px 70px;
}
.breadcrumbs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 110.43px;
    margin: 0;
    padding: 0 947.09px 40px 72.01px;
}
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
}
.catalog-filter {
    display: flex;
    justify-content: space-between;
    width: 1059.53px;
    height: 149px;
    padding: 0 70px 70px 70px;
    margin: 0;
}
.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    margin-top: 30px;
    padding-left: 0;
}
.catalog-filter-item:nth-child(1) {
    margin-bottom: 15px;
}
.catalog-filter-item:nth-child(2) {
    margin-bottom: 15px;
}
.catalog-filter-infrastructure {
    min-width: 150.43px;
    height: 149px;
    border: none;
    margin-right: 70px;
    margin-left: 0;
}
.catalog-filter-housing {
    width: 145.41px;
    height: 149px;
    border: none;
    margin: 0;
}
.catalog-range {
    border: none;
    margin: 0;
    padding: 0;
}
.calculation-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
    padding: 0;
}
.sorting-container {
    display: flex;
    width: 1057px;
    min-height: 49px;
    padding: 50px 71px 56px 72px;
}
.sorting-container .button {
    width: 48px;
    height: 48px;
    
}
.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.control {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}
.catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 338px;
    min-height: 37px;
    margin-top: 7px;
    margin-bottom: 4px;
}
.button-click {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border: none;
}
.reset {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    border: none;
}
.select-control-hotel {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 94px;
    margin-left: 191px;
    width: 290px;
    min-height: 49px;
}
.hotels-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 66px;
    margin-top: 0;
    padding: 0;
}
.hotels-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hotels-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
}
.hotels-card-link {
    text-decoration: none;
}
.hotels-card-price {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    height: 21px;
    color: #333333;
}
.hotels-card-name {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    height: 21px;
    color: #333333;
}
.hotels-price {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 21px 37px 37px;
    gap: 16px 20px;
}
.hotels-card-image {
    object-fit: contain;
}
.hotels-detailed {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
}
.hotels-favourites {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
}
.hotels-added {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 9px;
}
.rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
}
.hotels-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.pagination-container {
    display: flex;
    width: 1056px;
    min-height: 60px;
    padding: 30px 71px 25px 73px;
}
.pagination-container p {
    font-weight: 400;
    margin: 20px 51px 17px 270px;
}
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self: center;
}
.pagination-item:not(:last-child) {
    margin-right: 8px;
}
.pagination-link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
}
.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #f2f2f2;
    color: #000000;
    text-transform: uppercase;
}
.select-control {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-left: auto;
    height: 49px;
    width: 160px;
    align-self: center;
}
.subscription-catalog {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.subscription-catalog-button {
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color: #ffffff;
    font-family: "PT Sans";
    margin: 0;
    padding: 12px 15px;
    min-width: 170px;
    border: none;
    margin-bottom: 94px;
    margin-right: 200px;
}